.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store

data/raw/*
data/interim/*
data/processed/*
data/submissions/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/submissions/.gitkeep
